<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @citizen.user %>
</p>

<p>
  <strong>Points:</strong>
  <%= @citizen.points %>
</p>

<%= link_to 'Edit', edit_citizen_path(@citizen) %> |
<%= link_to 'Back', citizens_path %>
