<%= form_with(model: ecopoint, local: true) do |form| %>
  <% if ecopoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ecopoint.errors.count, "error") %> prohibited this ecopoint from being saved:</h2>

      <ul>
      <% ecopoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
