<p id="notice"><%= notice %></p>

<h1>Ecopoints</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ecopoints.each do |ecopoint| %>
      <tr>
        <td><%= ecopoint.user %></td>
        <td><%= link_to 'Show', ecopoint %></td>
        <td><%= link_to 'Edit', edit_ecopoint_path(ecopoint) %></td>
        <td><%= link_to 'Destroy', ecopoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ecopoint', new_ecopoint_path %>
