<p id="notice"><%= notice %></p>

<h1>Premiations</h1>

<table>
  <thead>
    <tr>
      <th>Badge</th>
      <th>Citizen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @premiations.each do |premiation| %>
      <tr>
        <td><%= premiation.badge %></td>
        <td><%= premiation.citizen %></td>
        <td><%= link_to 'Show', premiation %></td>
        <td><%= link_to 'Edit', edit_premiation_path(premiation) %></td>
        <td><%= link_to 'Destroy', premiation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Premiation', new_premiation_path %>
